@import "@montage-ui/core/global.css" layer(montage);
@import "@montage-ui/core/theme.css" layer(montage);
@import "tailwindcss";

body {
  background: #ffffff;
  color: #171717;
  font-family: 'Wanted Sans Variable', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
